body {
    font-family: Arial, sans-serif;
}
.node {
    cursor: pointer;
}
.link {
    stroke: #999;
    stroke-opacity: 0.6;
}
.type-1 {
    stroke: blue;
}
.type-2 {
    stroke: green;
}
.type-3 {
    stroke: red;
}
.type-4 {
    stroke: rgb(80, 80, 155);
}
.type-5 {
    stroke: rgb(49, 124, 49);
}
.type-6 {
    stroke: rgb(112, 69, 69);
}
.type-7 {
    stroke: rgb(135, 135, 236);
}
.type-8 {
    stroke: rgb(47, 98, 47);
}
.type-9 {
    stroke: rgb(240, 93, 93);
}
.type-10 {
    stroke: rgb(189, 189, 230);
}
.type-11 {
    stroke: rgb(8, 199, 8);
}
.type-12 {
    stroke: rgb(179, 255, 0);
}
.type-14 {
    stroke: rgb(229, 255, 0);
}
.type-99 {
    stroke: rgb(0, 213, 255);
}
.type-1002 {
    stroke: rgb(255, 0, 166);
}
.type-1003 {
    stroke: rgb(102, 0, 128);
}
.type-1004 {
    stroke: rgb(0, 255, 213);
}
.type-1005 {
    stroke: rgb(94, 255, 0);
}
.type-1006 {
    stroke: rgb(28, 0, 128);
}
.type-1007 {
    stroke: rgb(0, 128, 255);
}
.type-1008 {
    stroke: rgb(255, 183, 0);
}
.type-1010 {
    stroke: rgb(255, 98, 0);
}
.type-1011 {
    stroke: rgb(0, 170, 255);
}
.type-1012 {
    stroke: rgb(128, 0, 47);
}
.type-1013 {
    stroke: rgb(138, 67, 67);
}
.type-1014 {
    stroke: rgb(255, 156, 156);
}
.type-1099 {
    stroke: rgb(240, 53, 53);
}
.type-3001 {
    stroke: rgb(174, 174, 227);
}
.type-3002 {
    stroke: rgb(13, 73, 13);
}
.type-3003 {
    stroke: rgb(72, 7, 7);
}
.type-3004 {
    stroke: rgb(255, 77, 255);
}
.type-3005 {
    stroke: rgb(159, 207, 0);
}
.type-3006 {
    stroke: rgb(166, 79, 171);
}
.type-3007 {
    stroke: rgb(92, 241, 221);
}
.type-3099 {
    stroke: rgb(241, 255, 119);
}
.type-4002 {
    stroke: rgb(107, 128, 0);
}
.type-4003 {
    stroke: rgb(177, 83, 83);
}
.type-4006 {
    stroke: rgb(38, 128, 122);
}
.type-4007 {
    stroke: rgb(137, 142, 249);
}
.type-4008 {
    stroke: rgb(145, 91, 254);
}
.type-4009 {
    stroke: rgb(81, 121, 36);
}
.type-4010 {
    stroke: rgb(61, 120, 102);
}
.type-4012 {
    stroke: rgb(94, 248, 94);
}
.type-4014 {
    stroke: rgb(209, 170, 170);
}
.type-4015 {
    stroke: rgb(69, 0, 0);
}
.type-4016 {
    stroke: rgb(201, 135, 135);
}
.type-4017 {
    stroke: rgb(43, 43, 128);
}
.type-4018 {
    stroke: rgb(0, 124, 128);
}
.type-4019 {
    stroke: rgb(0, 255, 68);
}
.type-4099 {
    stroke: rgb(0, 255, 166);
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}